@model  Nop.Plugin.Feed.Salidzini.Models.LogosModel
@using Nop.Web.Framework.UI
<style>
    .lv-feeds-logos-wrapper img {
        height: 40px;
    }
</style>
<div class="lv-feeds-logos-wrapper">
    <a href="https://www.salidzini.lv/">
        <img border="0" alt="Salidzini.lv logotips" title="Mobilie telefoni, L&#275;tas aviobi&#316;etes, Interneta veikali, Ce&#316;ojumi, &#256;trie kred&#299;ti, Digit&#257;l&#257;s fotokameras, Octa, Kasko, Kuponi, Portat&#299;vie datori, Plan&#353;etdatori" src="//static.salidzini.lv/images/logo_button.gif" />
    </a>
    <a href="http://www.kurpirkt.lv" title="Visi Internetveikali un cenas" ">
        <img style="Border: none;" alt="Visi Internetveikali un cenas"
             src="http://www.kurpirkt.lv/media/kurpirkt120.gif" width=120 height=40>
    </a>
</div>

